.introducao{
    max-width: 90%;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    gap: 20%;
}
.introducao img{
    min-width: 400px;
}
#titulo{
    align-self: center;
    font-size: 32px;
}
#titulo h1{
    word-break: break-all;
    position: relative;
    font-size: 72px;
    line-height: 1.125;
}
#titulo h1::before {
    display: block;
    content: '';
    width: 150px;
    height: 100px;
    background: url('/svgAndImgs/Group\ 24.svg') no-repeat center;
    top:-15px;
    left: -50px;
    z-index: -1;
    position: absolute;
  }