.header{
    max-width: 90%;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 0 auto;
    flex-wrap: wrap;
}
.header #logo{
    font-size: 3rem;
}
.header #menu{
    display: flex;
    gap: 50px;
    font-size: 18px;
}